<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>상품 등록 - F5Hell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <script th:src="@{/js/common.js}"></script>
</head>
<body>

<th:block th:replace="~{layout/fragments/header :: header}" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center py-5">
                <h4>상품 목록</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" th:href="@{/products/create}">등록</a>
            </div>
        </div>
    </div>

    <div class="row">
        <form id="searchForm" th:action="@{/products/getList}">
            <div class="d-flex mt-3 align-items-stretch">
                <select class="form-select w-25" name="categoryId" aria-label="카테고리 검색">
                    <option value="" th:selected="${param.categoryId == null}">전체 카테고리</option>
                    <option value="1" th:selected="${#strings.equals(param.categoryId, '1')}">의류</option>
                    <option value="2" th:selected="${#strings.equals(param.categoryId, '2')}">신발</option>
                    <option value="3" th:selected="${#strings.equals(param.categoryId, '3')}">가방</option>
                </select>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" th:value="${param.name}" placeholder="상품명을 입력하세요" aria-label="검색창">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </div>
            <input type="hidden" name="page">
        </form>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 py-2" th:each="product: ${products}">
            <a th:href="@{/products/get/{id}(id=${product.id})}">
                <div class="card">
                    <h5 th:text="${product.name}">상품명</h5>
                    <p>설명입니다</p>
                </div>
            </a>
        </div>
    </div>

    <th:block th:replace="layout/fragments/pagination :: pagination(${products})" />
</div>
</body>
</html>